@media (prefers-color-scheme: dark) {
    html, body {
        height: 100%;
        width: auto;
        /*top - right - bottom - left*/
        margin: 1vw 2vw 2vw 2vw;
        cursor: default;
        color: rgba(255, 255, 255, 0.5);
        flex-direction: column;
        box-sizing: border-box;
        background-color: rgb(10, 23, 100);
        text-rendering: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1vw;
    }

    a, a:hover, a:focus, a:active, a:visited, a:link {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
    }

    /*Custom scrollbar.*/
    ::-webkit-scrollbar {
        width: 0; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
    }
}
